[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_INA260"]
	path = lib/Adafruit_INA260
	url = https://github.com/adafruit/Adafruit_INA260.git
[submodule "lib/Adafruit_BME280_Library"]
	path = lib/Adafruit_BME280_Library
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
[submodule "lib/SPIFlash"]
	path = lib/SPIFlash
	url = https://github.com/LowPowerLab/SPIFlash.git
[submodule "lib/Adafruit_ZeroTimer"]
	path = lib/Adafruit_ZeroTimer
	url = https://github.com/adafruit/Adafruit_ZeroTimer.git
[submodule "lib/RTCZero"]
	path = lib/RTCZero
	url = https://github.com/arduino-libraries/RTCZero.git
[submodule "lib/RTClib"]
	path = lib/RTClib
	url = https://github.com/adafruit/RTClib.git
